In [1]:
empty_dict = {}

In [3]:
couples = {
    "John": "Jill", 
    "Rick": "Nina",
    "Jane": "George",
    "Natasha": "Fred"
}

In [4]:
couples["John"]

'Jill'

In [5]:
couples["Jane"]

'George'

In [6]:
couples["Lauren"]

KeyError: 'Lauren'

In [7]:
couples["John"] = "Barbara"

In [8]:
couples

{'Jane': 'George', 'John': 'Barbara', 'Natasha': 'Fred', 'Rick': 'Nina'}

In [9]:
math_scores = {
    "Ram": 97, 
    "Kumar": 35,
    "Kishan": 67,
    "Natasha": 73
}

In [10]:
math_scores.keys()

dict_keys(['Ram', 'Kumar', 'Kishan', 'Natasha'])

In [11]:
math_scores.values()

dict_values([97, 35, 67, 73])

In [2]:
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'
}

In [3]:
student_details

{'name': 'Ubaid', 'phone': '9934590873', 'score': 45}

In [19]:
student_details.keys()

dict_keys(['name', 'score', 'phone'])

In [18]:
len(student_details.keys())

3

In [7]:
student_details.values()

dict_values(['Ubaid', 45, '9934590873'])

In [12]:
all_scores = {
    "Ram": [93, 44, 56], 
    "Kumar": [53, 53, 22],
    "Kishan": [87, 20, 45],
    "Natasha": [74, 6, 55]
}

In [13]:
all_scores["Ram"]

[93, 44, 56]

In [14]:
all_scores["Ram"][1] = 55

In [15]:
all_scores["Ram"]

[93, 55, 56]

In [16]:
all_scores = {
    "Ram": {'math': 93, 'science': 44, 'english': 56}, 
    "Kumar": {'math': 53, 'science': 53, 'english': 22},
    "Kishan": {'math': 87, 'science': 20, 'english': 45},
    "Natasha": {'math': 74, 'science': 6, 'english': 55},
}

In [17]:
all_scores["Kishan"]

{'english': 45, 'math': 87, 'science': 20}

In [18]:
all_scores["Kishan"]["math"]

87

In [19]:
all_scores["Natasha"]["geography"]

KeyError: 'geography'

In [22]:
student_details = {
    123: {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    362: {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    983: {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'},
}

In [23]:
student_details[983]

{'address': 'Bangalore', 'name': 'Pranay', 'score': 49}

In [24]:
student_details = {
    (123): {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    (362): {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    (983): {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'}
}

In [25]:
student_details[(362)]

{'address': 'Hyderabad', 'name': 'Niti', 'score': 78}

In [26]:
student_details = {
    [123]: {'name': 'Ram', 'score': 56, 'address': 'Noida'},
    [362]: {'name': 'Niti', 'score': 78, 'address': 'Hyderabad'},
    [983]: {'name': 'Pranay', 'score': 49, 'address': 'Bangalore'}
}

TypeError: unhashable type: 'list'

#### Methods on dictionaries

In [9]:
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'
}

In [10]:
student_details_copy = student_details.copy()

In [11]:
student_details_copy['score'] = 100

In [12]:
student_details

{'name': 'Ubaid', 'phone': '9934590873', 'score': 45}

In [13]:
student_details_copy

{'name': 'Ubaid', 'phone': '9934590873', 'score': 100}

In [16]:
student_details_copy.clear()

student_details_copy

{}

In [20]:
student_details.items()

dict_items([('name', 'Ubaid'), ('score', 45), ('phone', '9934590873')])

In [21]:
student_details.get('name')

'Ubaid'

In [24]:
student_details.pop('score')

student_details

{'name': 'Ubaid'}

In [23]:
student_details.popitem()

student_details

{'name': 'Ubaid', 'score': 45}

In [25]:
student_details = {
    'name': 'Ubaid',
    'score': 45,
    'phone': '9934590873'
}