In [4]:
input('What would you like to order today? ')

What would you like to order today? Rice

'Rice'

In [5]:
order = input('What would you like to order today? ')

What would you like to order today? American Chopsuey

In [6]:
order

'American Chopsuey'

In [10]:
order[0]

'A'

In [36]:
order[0] = 'B'

TypeError: 'str' object does not support item assignment

In [11]:
order[:5]

'Ameri'

In [12]:
order[:-1]

'American Chopsue'

In [19]:
order[0:8:1]

'American'

In [20]:
order[0:8:2]

'Aeia'

In [21]:
order[0:8:3]

'Ara'

In [22]:
order[::1]

'American Chopsuey'

In [24]:
order[::2]

'Aeia hpuy'

In [25]:
order[::-1]

'yeuspohC naciremA'

In [7]:
len(order)

17

In [13]:
order.index('C')

9

In [14]:
order.count('e')

2

In [27]:
lower = order.lower()

lower

'american chopsuey'

In [28]:
upper = order.upper()

upper

'AMERICAN CHOPSUEY'

In [30]:
print(order.startswith('American'))

True

In [31]:
print(order.endswith('y'))

True

In [32]:
tokens = order.split(' ')

tokens

['American', 'Chopsuey']

In [34]:
line_in_csv = "Ravi,30,40,56,78"

csv_tokens = line_in_csv.split(',')

csv_tokens

['Ravi', '30', '40', '56', '78']

In [35]:
separator = ":"

separator.join(csv_tokens)

'Ravi:30:40:56:78'

In [ ]:
line_in_csv = "Ravi,30,40,56,78"

csv_tokens = line_in_csv.split(',')

csv_tokens