#### Lists

In [1]:
int_list = [5, 10, 15, 20, 25, 30]

int_list

[5, 10, 15, 20, 25, 30]

In [57]:
float_list = [1.3, 2.4, 4.6, 7.4]

float_list

[1.3, 2.4, 4.6, 7.4]

In [58]:
string_list = ['Deb', 'Abhay', 'Anita', 'Anu', 'Athira']

string_list

['Deb', 'Abhay', 'Anita', 'Anu', 'Athira']

In [59]:
mixed_list = [1, 3.4, 'Judy', False]

mixed_list

[1, 3.4, 'Judy', False]

#### Initializing a list

In [101]:
some_list = list()
other_list = []

In [102]:
some_list

[]

In [103]:
other_list

[]

#### List modifications

In [60]:
students = ['Deb', 'Judy', 'Yukti', 'Nisarg']

In [61]:
students[0]

'Deb'

In [62]:
students[1]

'Judy'

In [63]:
students[3]

'Nisarg'

In [64]:
students[4]

IndexError: list index out of range

#### List operations

In [65]:
len(students)

4

In [66]:
students

['Deb', 'Judy', 'Yukti', 'Nisarg']

In [67]:
students[3] = 'Surbhi'

students

['Deb', 'Judy', 'Yukti', 'Surbhi']

In [68]:
students[2] = 'Moumita'

students

['Deb', 'Judy', 'Moumita', 'Surbhi']

In [69]:
students.append('Anuradha')

students

['Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha']

In [70]:
students.append('Ubaid')

students

['Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [71]:
len(students)

6

In [72]:
students.insert(0, 'Anisha')

students

['Anisha', 'Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [73]:
students.insert(1, 'Bansi')

students

['Anisha', 'Bansi', 'Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [74]:
other_students = ['Eshaan', 'Pranoti', 'Priya']

other_students

['Eshaan', 'Pranoti', 'Priya']

In [75]:
all_students = students + other_students

all_students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Eshaan',
 'Pranoti',
 'Priya']

In [76]:
students.extend(['Elroy', 'Neil'])

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil']

In [77]:
students += ['Kishan', 'Dhwani']

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Kishan',
 'Dhwani']

In [78]:
students.index('Judy')

3

In [79]:
element_index = students.index('kishan')

element_index

ValueError: 'kishan' is not in list

In [80]:
element_index = students.index('Kishan')

element_index

10

In [81]:
students.remove('Kishan')

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Dhwani']

In [82]:
students.remove('Deb')

students

['Anisha',
 'Bansi',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Dhwani']

In [83]:
students.sort()

students

['Anisha',
 'Anuradha',
 'Bansi',
 'Dhwani',
 'Elroy',
 'Judy',
 'Moumita',
 'Neil',
 'Surbhi',
 'Ubaid']

In [84]:
students.reverse()

students

['Ubaid',
 'Surbhi',
 'Neil',
 'Moumita',
 'Judy',
 'Elroy',
 'Dhwani',
 'Bansi',
 'Anuradha',
 'Anisha']

In [85]:
students.pop()

students

['Ubaid',
 'Surbhi',
 'Neil',
 'Moumita',
 'Judy',
 'Elroy',
 'Dhwani',
 'Bansi',
 'Anuradha']

In [86]:
students.pop()

students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

#### List indices

In [87]:
students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [88]:
students[-1]

'Bansi'

In [89]:
students[-2]

'Dhwani'

#### Slicing lists

In [105]:
students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [90]:
students[0:2]

['Ubaid', 'Surbhi']

In [91]:
students[0:4]

['Ubaid', 'Surbhi', 'Neil', 'Moumita']

In [92]:
students[3:7]

['Moumita', 'Judy', 'Elroy', 'Dhwani']

In [104]:
students[:3]

['Ubaid', 'Surbhi', 'Neil']

In [106]:
students[3:]

['Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [107]:
students[:-2]

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy']

In [108]:
students[:-4]

['Ubaid', 'Surbhi', 'Neil', 'Moumita']

In [109]:
students[1:-2]

['Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy']

In [112]:
students[-4:-2]

['Judy', 'Elroy']

In [140]:
students[1:3] = ['Akshar', 'Amit']

students

['Neil', 'Akshar', 'Amit', 'Elroy', 'Dhwani', 'Bansi']

#### Nested lists

In [113]:
matrix = [[10, 20, 30], [100, 200, 300]]

matrix

[[10, 20, 30], [100, 200, 300]]

In [115]:
matrix[0][0]

10

In [116]:
matrix[0][1]

20

In [117]:
matrix[0][2]

30

In [118]:
matrix[1][0]

100

In [119]:
len(matrix)

2

In [120]:
len(matrix[0])

3

#### List copies

In [121]:
students_copy = students

In [122]:
students_copy

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [123]:
students.remove('Ubaid')

In [124]:
students_copy

['Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [125]:
students_copy.remove('Surbhi')

In [126]:
students

['Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

#### Built-in functions with list

In [128]:
int_list

[5, 10, 15, 20, 25, 30]

In [129]:
len(int_list)

6

In [130]:
max(int_list)

30

In [131]:
min(int_list)

5

In [132]:
sum(int_list)

105

In [133]:
int_list.extend([3, 9, 2, 1])

int_list

[5, 10, 15, 20, 25, 30, 3, 9, 2, 1]

In [134]:
sorted_list = sorted(int_list)

In [135]:
sorted_list

[1, 2, 3, 5, 9, 10, 15, 20, 25, 30]

In [136]:
int_list

[5, 10, 15, 20, 25, 30, 3, 9, 2, 1]

In [137]:
int_list.sort()

int_list

[1, 2, 3, 5, 9, 10, 15, 20, 25, 30]

In [2]:
int_list.sort(reverse=True)

int_list

[30, 25, 20, 15, 10, 5]