In [35]:
# Information about one entity in JSON, notice the \ to indicate the statement has not ended
jsonData = \
    """
    {"name": "Ashish", "age": 39, "city": "Delhi", "degree": "B.E"}
    """

In [7]:
import json

In [8]:
details_dict = json.loads(jsonData)

In [9]:
type(details_dict)

dict

In [10]:
details_dict

{'age': 39, 'city': 'Delhi', 'degree': 'B.E', 'name': 'Ashish'}

In [18]:
!cat data/single_entity.json

{"name": "Ashish", "age": 39, "city": "Delhi", "degree": "B.E"}

In [22]:
employees = []

with open('data/single_entity.json', 'r') as f:
    line = f.readline()

    employee = json.loads(line)
    employees.append(employee)

In [23]:
employees

[{'age': 39, 'city': 'Delhi', 'degree': 'B.E', 'name': 'Ashish'}]

In [26]:
!cat data/list_of_entities.json

{"name": "Deb", "age": 23, "city": "Bangalore", "degree": "B.A"}
{"name": "Abhay", "age": 21, "city": "Kolkata", "degree": "BSc"}
{"name": "Vijay", "age": 33, "city": "Chennai", "degree": "B.E"}

In [24]:
employees = []

with open('data/list_of_entities.json', 'r') as f:
    lines = f.readlines()

    for line in lines:
        employee = json.loads(line)
        employees.append(employee)

In [25]:
employees

[{'age': 23, 'city': 'Bangalore', 'degree': 'B.A', 'name': 'Deb'},
 {'age': 21, 'city': 'Kolkata', 'degree': 'BSc', 'name': 'Abhay'},
 {'age': 33, 'city': 'Chennai', 'degree': 'B.E', 'name': 'Vijay'}]

In [27]:
new_employee = {
    'name': 'Nisarg',
    'age': 25, 
    'city': 'Bangalore', 
    'degree': 'B.Tech' 
}

In [28]:
line = json.dumps(new_employee)

In [29]:
line

'{"name": "Nisarg", "age": 25, "city": "Bangalore", "degree": "B.Tech"}'

In [33]:
with open('data/list_of_entities.json', 'a') as f:
    f.write(line + '\n')

In [34]:
!cat data/list_of_entities.json

{"name": "Deb", "age": 23, "city": "Bangalore", "degree": "B.A"}
{"name": "Abhay", "age": 21, "city": "Kolkata", "degree": "BSc"}
{"name": "Vijay", "age": 33, "city": "Chennai", "degree": "B.E"}
{"name": "Nisarg", "age": 25, "city": "Bangalore", "degree": "B.Tech"}