In [2]:
tech_companies = ['Google', 'Apple', 'Facebook', 'Uber', 'Intel']

In [4]:
print(tech_companies)

['Google', 'Apple', 'Facebook', 'Uber', 'Intel']

In [3]:
for company in tech_companies:
    print(company)

Google
Apple
Facebook
Uber
Intel

In [5]:
some_numbers = [10, 20, 30, 40, 50]

In [6]:
for num in some_numbers:
    print('The number is: ', num)

The number is:  10
The number is:  20
The number is:  30
The number is:  40
The number is:  50

In [9]:
total = 0

for num in some_numbers:
    total = total + num
    print('The current value of total is: ', total)

The current value of total is:  10
The current value of total is:  30
The current value of total is:  60
The current value of total is:  100
The current value of total is:  150

In [10]:
total = 0

for num in some_numbers:
    total = total + num

print('The total of all numbers: ', total)

The total of all numbers:  150

In [12]:
total = 100

for num in some_numbers:
    total = total + num

print('The total of all numbers (initial value set to 100): ', total)

The total of all numbers (initial value set to 100):  250

In [13]:
count = 0

for num in some_numbers:
    count = count + 1
    
print('The total length of the array is: ', count)

The total length of the array is:  5

In [15]:
range(5)

range(0, 5)

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
math_scores = {
    "Ram": 97, 
    "Kumar": 35,
    "Kishan": 67,
    "Natasha": 73
}

In [21]:
for item in math_scores:
    print(item)
    
print('This retains the value of the last item in the list', item)

Ram
Kumar
Kishan
Natasha
This retains the value of the last item in the list Natasha

In [22]:
for key in math_scores.keys():
    print(key)
    
print('This retains the value of the last item in the list', key)

Ram
Kumar
Kishan
Natasha
This retains the value of the last item in the list Natasha

In [25]:
for val in math_scores.values():
    print(val)

97
35
67
73

In [29]:
for key in math_scores:
    print('Key: ', key, math_scores[key])

Key:  Ram 97
Key:  Kumar 35
Key:  Kishan 67
Key:  Natasha 73

In [30]:
for item in math_scores.items():
    print(item)

('Ram', 97)
('Kumar', 35)
('Kishan', 67)
('Natasha', 73)

In [31]:
for key, value in math_scores.items():
    print(key, value)

Ram 97
Kumar 35
Kishan 67
Natasha 73

#### Breaking out of a loop

In [33]:
for i in range(5):
    print(i)
    break

0

In [35]:
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [36]:
for i in range(10):
    print(i)
    if i > 5:
        break

0
1
2
3
4
5
6

In [37]:
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

In [39]:
for i in range(1, 10):
    if i % 5 == 0:
        break
    print(i)

1
2
3
4

In [41]:
for company in tech_companies:
    print(company)
    if company == 'Uber':
        print('This company is not listed yet: ', company)
        break

Google
Apple
Facebook
Uber
This company is not listed yet:  Uber

#### Continue statements

In [43]:
for company in tech_companies:
    if company == 'Uber':
        print('This company is not listed yet')
        continue
    print(company)

Google
Apple
Facebook
This company is not listed yet
Intel

In [50]:
for i in range(1, 8):
    print()
    print('Before continue statement: ', i)
    if i % 2 == 0:
        continue
    print('AFTER continue statement: ', i)

Before continue statement:  1
AFTER continue statement:  1

Before continue statement:  2

Before continue statement:  3
AFTER continue statement:  3

Before continue statement:  4

Before continue statement:  5
AFTER continue statement:  5

Before continue statement:  6

Before continue statement:  7
AFTER continue statement:  7

In [53]:
for i in range(1, 31):
    if i % 5 == 0:
        print('Multiple of 5: ', i)
    else:
        continue
    print('Yes!')

Multiple of 5:  5
Yes!
Multiple of 5:  10
Yes!
Multiple of 5:  15
Yes!
Multiple of 5:  20
Yes!
Multiple of 5:  25
Yes!
Multiple of 5:  30
Yes!

#### Nested loops

In [54]:
for i in range(1, 5):

    for j in ['a', 'b', 'c', 'd']:
        
        print(i, j)

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d
3 a
3 b
3 c
3 d
4 a
4 b
4 c
4 d