#### A simple open requires the file to exist

In [13]:
open("does_not_exist.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'does_not_exist.txt'

In [14]:
open("/tmp/does_not_exist.txt")

FileNotFoundError: [Errno 2] No such file or directory: '/tmp/does_not_exist.txt'

In [43]:
!cat data/students.txt

Kishore, 33, 44, 66
Ajit, 65, 23, 89
Virat, 55, 67, 99
Sachin, 44, 66, 78

In [16]:
f = open("data/students.txt")

In [17]:
f

In [18]:
f.read()

'Kishore, 33, 44, 66\nAjit, 65, 23, 89\nVirat, 55, 67, 99\nSachin, 44, 66, 78'

In [19]:
f.read(7)

''

In [20]:
f.seek(0)

0

In [21]:
f.read(7)

'Kishore'

In [22]:
f.tell()

7

In [23]:
f.read(4)

', 33'

In [24]:
f.read()

', 44, 66\nAjit, 65, 23, 89\nVirat, 55, 67, 99\nSachin, 44, 66, 78'

In [25]:
f.seek(0)

0

In [26]:
for line in f:
    print(line)

Kishore, 33, 44, 66

Ajit, 65, 23, 89

Virat, 55, 67, 99

Sachin, 44, 66, 78

In [27]:
f.seek(0)

0

In [28]:
f.readline()

'Kishore, 33, 44, 66\n'

In [29]:
f.readline()

'Ajit, 65, 23, 89\n'

In [30]:
f.seek(0)

0

In [31]:
f.readlines()

['Kishore, 33, 44, 66\n',
 'Ajit, 65, 23, 89\n',
 'Virat, 55, 67, 99\n',
 'Sachin, 44, 66, 78']

In [32]:
f.close()

In [33]:
f.seek(0)

ValueError: I/O operation on closed file.

#### The "with" statement

In [36]:
lines = []

# Good practice to specify the mode in which you open the file
with open('data/students.txt', 'r') as f:
    
    for line in f:
        lines.append(line.rstrip('\n'))
        
# The file is automatically closed outside the with nested block

In [37]:
lines

['Kishore, 33, 44, 66',
 'Ajit, 65, 23, 89',
 'Virat, 55, 67, 99',
 'Sachin, 44, 66, 78']

#### The append mode creates a new file if one does not exist

In [55]:
!rm -rf data/more_students.txt

In [56]:
with open('data/more_students.txt', 'a') as f:
    num_ch = f.write("Anu, 33, 55, 66, 23")
    
    print("Number of characters written: ", num_ch)

Number of characters written:  19

In [57]:
!cat data/more_students.txt

Anu, 33, 55, 66, 23

In [58]:
with open('data/more_students.txt', 'a') as f:
    num_ch = f.write("Niti, 22, 75, 62, 43")
    
    print("Number of characters written: ", num_ch)

Number of characters written:  20

In [59]:
!cat data/more_students.txt

Anu, 33, 55, 66, 23Niti, 22, 75, 62, 43

In [60]:
lines

['Kishore, 33, 44, 66',
 'Ajit, 65, 23, 89',
 'Virat, 55, 67, 99',
 'Sachin, 44, 66, 78']

In [61]:
with open('data/more_students.txt', 'a') as f:
    f.writelines(lines)

In [62]:
!cat data/more_students.txt

Anu, 33, 55, 66, 23Niti, 22, 75, 62, 43Kishore, 33, 44, 66Ajit, 65, 23, 89Virat, 55, 67, 99Sachin, 44, 66, 78

#### Write mode truncates existing data and overwrites the file

In [74]:
with open('data/more_students.txt', 'w') as f:
    f.write("Completely new line")

In [75]:
!cat data/more_students.txt

Completely new line

#### Read and Write = r+ Write and Read = w+

In [76]:
with open('data/more_students.txt', 'r+') as f:
    print(f.readline())
    
    f.writelines(['Another new line'])

Completely new line

In [77]:
!cat data/more_students.txt

Completely new lineAnother new line

In [78]:
with open('data/more_students.txt', 'r+') as f:
    f.writelines(['Does this overwrite the file?'])

In [79]:
!cat data/more_students.txt

Does this overwrite the file?w line