In [2]:
my_tuple = ('Kishore', 90)

my_tuple

('Kishore', 90)

In [4]:
my_tuple[0]

'Kishore'

In [5]:
my_tuple[1]

90

In [6]:
my_tuple[0] = 'Ram'

TypeError: 'tuple' object does not support item assignment

#### Unpacking a tuple

In [7]:
name, score = my_tuple

In [8]:
name

'Kishore'

In [9]:
score

90

In [1]:
tuple_with_many_fields = (1, 'Nimisha', 'Venkat', 'Matthew', 45)

In [3]:
unique_id, girl_name, boy_name, _, _ = tuple_with_many_fields

In [4]:
unique_id, girl_name, boy_name

(1, 'Nimisha', 'Venkat')

#### Indexing

In [6]:
number_tuple = (2, 4, 7, 5, 9, 1, 10)

In [7]:
number_tuple[:2]

(2, 4)

In [8]:
number_tuple[2:-1]

(7, 5, 9, 1)

In [9]:
string_tuple = ("John", "Jim")

In [10]:
all_tuple = number_tuple + string_tuple

all_tuple

(2, 4, 7, 5, 9, 1, 10, 'John', 'Jim')

In [11]:
print(("Hello") * 4)

HelloHelloHelloHello

#### Slicing

In [12]:
number_tuple[1:]

(4, 7, 5, 9, 1, 10)

In [13]:
number_tuple[::-1]

(10, 1, 9, 5, 7, 4, 2)

In [14]:
number_tuple[:3]

(2, 4, 7)

In [15]:
number_tuple[1::2]

(4, 5, 1)

#### Operations on a tuple

In [16]:
len(number_tuple)

7

In [17]:
max(number_tuple)

10

In [18]:
sum(number_tuple)

38

In [19]:
some_list = ['A', 'B', 'C']

some_tuple = tuple(some_list)

In [20]:
some_tuple = tuple(some_list)

In [21]:
some_tuple

('A', 'B', 'C')